<!DOCTYPE html>
 
<html>
 
<head>
 
<title>Twig Integration into Slim</title>
 
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
 
</head>
<body>
	{% include 'templates/navigation.twig' %}
	<div class="container">
	{% block content%}

	{% endblock %}
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$('#users').DataTable();
		});
	</script>
</body>
</html>